.dashboard{
    width: 90%; /* Use a percentage value for responsiveness */
    max-width: 4280px; /* Set a maximum width */
    min-width: 1200px;
    height: 750px;
    background-color: rgb(227, 241, 253);    
    border-radius: 25px;
    padding: 10px;
    margin-top: 300px;
    margin-bottom: 100px;
    justify-content: center;
    align-items: center;
    margin-left: 125px;
}

.dashboard h2{
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: rgb(60, 67, 67);
    border-radius: 25px;
}

.dashboard h4{
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: rgb(60, 67, 67);
    border-radius: 25px;
}

.widgetsbox{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.wtext{
    margin: 20px;
}

.widgets{
    border-radius: 10px;
    background-color: rgb(255, 255, 255); 
    width: 300px;
    height: 100px;
    margin: 5px;
    display: flex;

}

.icon{
    height: 50px;
    width: 50px;
    margin-top: 25px;
    margin-left: 25px;
}

.dinformation{
    display: flex;
    justify-content: center;
}

.info{
    width: 400px;
    margin: 10px;
    border-radius: 10px;
    background-color:rgb(255, 255, 255); 
    padding: 5px;
    height: 500px;
    position: relative;
    
}

.infobox{
    align-items: center;
    justify-content: center;
}

.unitinfobox{
    align-items: center;
    justify-content: center;
}

.tsee{
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.tinfo{
    width: 200px;
    height: 60px;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 5px;
    
}

.stext{
    font-size: 11px;
}

.unitnum{
    color: rgb(255, 255, 255);
    background-color: rgb(60, 67, 67);
    border-radius: 5px;
    width: 60px;
    height: 60px;
    margin-right: 5px;
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prompt{
    position: fixed;
    top: 50%; /* Place the top of the prompt at the vertical center of the screen */
    left: 50%; /* Place the left edge of the prompt at the horizontal center of the screen */
    transform: translate(-50%, -50%); /* Use transform to center the prompt perfectly */
    z-index: 9999;
    background-color: rgb(227, 241, 253);  
    border-width: 2.5px;
    border-style: solid;
    border-radius: 10px;
    height: 250px;
    padding: 10px;
}

.prompt input{
    margin: 5px;
    border-radius: 5px;
}

.prompt button{
    margin: 5px;
    border-radius: 5px;
}

.promptbutton{
    position: absolute;
    bottom: 5px;
}

.addUnit{
    border-radius: 5px;
    position: absolute;
    bottom: 5px;
    left: 5px;
}