.tenantDashboard {
    width: 100%;
    height: 80vb;
    background-color: aliceblue;
    border-radius: 25px;
    padding-top: 10px;
    margin-top: 0vb;
    overflow: auto;
}
  
.tenantDashboard h2 {
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: rgb(60, 67, 67);
    border-radius: 25px;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .tenantCell {
      width: calc(100% - 20px); /* Full width on smaller screens */
    }
}

/* tenants.css */
.tenantList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content:flex-start; /* Distribute items evenly */
  }
  
  .imageContainer {
    width: 100px; /* Adjust as needed */
    margin-right: 10px;
  }

.tenantImg {
    height: 100px;
    width: 100px;
}
  
  .tenantInfo {
    flex-grow: 1; /* Take remaining space */
  }
  
.tenantCell {
    color: rgb(60, 67, 67);
    width: calc(25% - 20px); /* Set initial width to half minus margin */
    padding: 20px;
    background-color: rgb(209, 233, 255);
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-direction: row;
}

.dropdown-container {
  position: relative;
  display: inline-block;
}

/* Dropdown button */
.dropdown-btn {
  background-color: aliceblue;
  color: rgb(60, 67, 67);
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

/* Dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Show dropdown content on hover */
.dropdown-container:hover .dropdown-content {
  display: block;
}

/* Dropdown items */
.dropdown-item {
  padding: 10px;
  text-decoration: none;
  color: #333;
  display: block;
}

/* Hover effect for dropdown items */
.dropdown-item:hover {
  background-color: #ddd;
}